In [9]:
import pandas as pd
from sqlalchemy import create_engine

In [124]:
#Extract CSV into DataFrame
death_file = "death_causes.csv"
death_df = pd.read_csv(death_file)
death_df.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2012,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,21,2.6
1,2016,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.7
2,2013,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Vermont,30,3.8
3,2000,"Intentional self-harm (suicide) (*U03,X60-X84,...",Suicide,District of Columbia,23,3.8
4,2014,"Nephritis, nephrotic syndrome and nephrosis (N...",Kidney disease,Arizona,325,4.1

In [125]:
#Keep only causes of death from 2012
death_2012_df = death_df.loc[death_df["Year"] == 2012]

In [133]:
#Take only the year, cause name, state, deaths columns
death_2012_df = death_2012_df[["Year", "Cause Name", "State", "Deaths"]]
death_2012_df.head()

   Year      Cause Name                 State  Deaths
0  2012  Kidney disease               Vermont      21
1  2012  Kidney disease          South Dakota      58
2  2012  Kidney disease               Arizona     414
3  2012         Suicide  District of Columbia      37
4  2012  Kidney disease            Washington     482

In [130]:
#Drop the "All Causes" cause, and make sure it was dropped
death_2012_df = death_2012_df[death_2012_df['Cause Name']!="All causes"]
death_2012_df = death_2012_df

In [153]:
#Rename columns to play nice with SQL
death_2012_df.columns=["_Year", "Cause_Name", "State", "Deaths"]
death_2012_df.head()

   _Year      Cause_Name                 State  Deaths
0   2012  Kidney disease               Vermont      21
1   2012  Kidney disease          South Dakota      58
2   2012  Kidney disease               Arizona     414
3   2012         Suicide  District of Columbia      37
4   2012  Kidney disease            Washington     482

In [150]:
#Connect to database
connection_string = "root:PASSWORDREDACTED@127.0.0.1/Death_Candy"
engine = create_engine(f'mysql+pymysql://{connection_string}')

In [151]:
# Confirm tables
engine.table_names()

['death_candy', 'death_state']

In [155]:
death_2012_df.to_sql(name='death_state', con=engine, if_exists='append', index=False)